* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --darkcyan: hsl(158, 36%, 37%);
    --cream: hsl(30, 38%, 92%);
    --verydarkblue: hsl(212, 21%, 14%);
    /* --darkgrayishblue: hsl(228, 12%, 48%); */
    --darkgrayishblue:#6C7289;
    --white: #ffffff;
}

.fraunces {
    font-family: "Fraunces", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "SOFT" 0,
        "WONK" 0;
}

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;

}

article {
    width: 600px;
    height: 450px;
    display: flex;
}

.bg {
    background-image: url(./images/image-product-desktop.jpg);
    width: 50%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: contain;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.content {
    width: 50%;
    background-color: #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 32px;
}

.content>span {
    color: var(--darkgrayishblue);
    margin-bottom: 20px;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

h3 {
    color: var(--verydarkblue);
    margin-bottom: 24px;
    font-size: 32px;
    line-height: 32px;
}

p {
    color: var(--darkgrayishblue);
    margin-bottom: 29px;
    font-size: 14px;
    line-height: 23px;
}

.content div {
    margin-bottom: 30px;
    display: flex;
    column-gap: 19px;
    align-items: flex-end;
}

div span {
    color: var(--darkcyan);
    font-size: 32px;
    line-height: 32px;
}

div s {
    color: var(--darkgrayishblue);
    font-size: 13px;
    line-height: 23px;
}

button {
    color: var(--white);
    background-color: var(--darkcyan);
    width: 236px;
    height: 48px;
    border-radius: 8px;
    border: none;
    display: flex;
    column-gap: 12px;
    justify-content: center;
    align-items: center;
}